# Entornos virtuales
venv/
.env/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs y cachés
*.log
*.pytest_cache/
*.coverage

# VSCode / PyCharm configs
.vscode/
.idea/

# Docker-related
*.tar
*.bak
docker-compose.override.yml

# Bases de datos temporales (por si usas SQLite)
*.db
